@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body{
    margin: 0; 
    background-color: #2b2b2b;
}

html{
    scroll-behavior:smooth
}

.container{
    font-family: Roboto Mono;
}

.navbar{
    position: sticky;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    font-size: 20px;
}

.nav-item{
    padding-left: 2%;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.nav-item:first-child{
    padding-left: 0;
}

.nav-item:hover{
    cursor: pointer;
    color: #5c00b3;
}

.sobre{
    display: flex;
    padding-top: 3%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.minha-foto{
    border-radius: 100%;
    border: solid 2px #5c00b3;
    box-shadow: 0px 0px 10px 6px #5c00b3;
    width: 170px;
}

.text-abt{
    padding: 0 3%;
}

.title-text{
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.subtitle-text{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 200;
    color:#5d12a3;
}

.desc-abt{
    width: 50%;
    margin: auto;
    color: white;   
    padding-top: 2%;
    font-size: 20px;
}

.sml-desc{
    text-align: left;
}


.bolder-text{
    font-weight: 800;
}

.hrow{
    margin: auto;
    border-bottom: solid 1px grey;
    max-width: 55%;
    margin-top: 3%;
}

.redes-sociais{
    display: flex;
    padding-top: 3%;
    justify-content: center;
    font-size: 20px;
}

.rds-item{
    margin-left: 3%;
    color: white;
    padding-left: 3%;
    width: 140px;
}

.rds-item:hover{
    color: white;
}

.rds-item:first-child{
    margin-left: 0;
}

.instagram{
    padding: 10%;
    border-radius: 100px;
    text-align: center;
    background-color: #ff0065;
    color: white;
    text-decoration: none;
}

.instagram:hover{
    padding: 10%;
    border-radius: 100px;
    background-color: #5c00b3;
    box-shadow: 0px 0px 7px 1px #5c00b3;
}

.github{    
    padding: 10%;
    border-radius: 100px;
    background-color: #3c434d;
    color: white;
    text-decoration: none;
}

.github:hover{
    padding: 10%;
    border-radius: 100px;
    background-color: #5c00b3;
    box-shadow: 0px 0px 7px 1px #5c00b3;
}

.linkedin{
    padding: 10%;
    border-radius: 100px;
    background-color: #1064c4;
    color: white;
    text-decoration: none;
}

.linkedin:hover{
    padding: 10%;
    border-radius: 100px;
    background-color: #5c00b3;
    box-shadow: 0px 0px 7px 1px #5c00b3;
}

.gmail{
    padding: 10%;
    border-radius: 100px;
    background-color: #cd3c30;
    color: white;
    text-decoration: none;
}

.gmail:hover{
    padding: 10%;
    border-radius: 100px;
    background-color: #5c00b3;
    box-shadow: 0px 0px 7px 1px #5c00b3;
}

.scl-title{
    padding-top: 3%;
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-decoration-line: underline;
}

.projetos{
    padding-top: 3%;
    color: white;
    justify-content: center;
}

.pjcts-item{
    border: solid 1px gray;
    border-radius: 15px;
    background-color: #0f0f0f;
    max-width: 60%;
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
}

.pjct-title{
    font-weight: 200;
    padding: 2%;
    color: #5c00b3;
}

.inPjct{
    display: flex;
}

.pjct-img{
    padding-right: 2%;
    padding-left: 3%;
}

.pjct-img-i{
    width: 70px;
}

.pjct-desc{
    padding-bottom: 5%;
    padding-right: 2%;
    color:grey
}


.div-title-projetos{
    padding-top: 2%;
    text-align: center;
}
.title-projetos{
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-decoration-line: underline;
}

.pjct-title:hover{
    font-size: 17px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
}

.sml-link{
    text-align: end;
    padding-right: 1%;
    padding-bottom: 1%;
    color:#5c00b3;
    font-size: 13px;
}

.text-span{
    color: grey;
}

.list-item{
    margin-left: 6%;
    width: 100%;
    display: list-item;
    text-decoration-line: underline;
    color: white;
}

.list-item:hover{
    color:#5c00b3;
    font-size: 18px;
}

.no-hover:hover{
    font-size: 16px;
}

.span-title{
    font-size: 13px;
    text-decoration: none;
    color:grey;
}

.orientadores{
    padding-left: 1%;
    font-size: 11px;
}

.all-rights{
    font-size: 13px;
    color: grey;
    font-family: sans-serif;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media (max-width: 900px){
    .desc-abt{
        width: 78%;
    }
    .pjcts-item{
        width: 78%;
    }
    .pjcts-item{
        max-width: 78%;
    }
    
}

@media (max-width: 700px){
    .desc-abt{
        width: 98%;
    }
    .pjcts-item{
        width: 98%;
    }
    .pjcts-item{
        max-width: 98%;
    }
    
}
