:root{
    --active-color: #ff008c;
    --background-color: #F5F5F5;
    --black: #222;
    --white: #fff;
    --light-text: #444;
    
    --active-color50: color-mix(in srgb, var(--active-color) 31%, transparent);
    --active-color80: color-mix(in srgb, var(--active-color) 50%, transparent);
    --active-color30: color-mix(in srgb, var(--active-color) 19%, transparent);
    --active-color20: color-mix(in srgb, var(--black) 20%, transparent);
    --active-color14: color-mix(in srgb, var(--black) 14%, transparent);
    --active-color12: color-mix(in srgb, var(--black) 12%, transparent);
}


html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior:smooth;
    color: var(--black);

}

body{
    margin: 0;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: currentColor;
}

p{
    margin: 0;
}

h2{
    margin: 10px;
}

hr{
    border-color: var(--active-color50);
    margin: 2%;
}

.shadow{
    box-shadow: 0 1px 3px 0 var(--active-color20), 0 1px 1px 0 var(--active-color14), 0 2px 1px -1px var(--active-color12);
}

.upArrowPos{
    height: 100vh;
    position: fixed;
    right: 1%;
    bottom: 2%;
    display: flex;
    align-items: end;
}

.upArrow{
    background-color: var(--active-color80);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--active-color30);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--active-color50);
}

nav{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    color: var(--active-color);
    font-weight: 600;
    font-size: 18px;
}

.navbar{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-rights{
    color: var(--light-text);
}

.bigcard{
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: 5vh auto ;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.title{
    color: var(--active-color);
    text-decoration: underline;
    text-align: center;
    margin-bottom: 5vh;
}

.bold{
    font-weight: 700;
    font-size: 18px;
}

.bold-active{
    color: var(--active-color);
    font-weight: 700;
}

.list-active{
    list-style-type: none;
}

.list-active li:before{
    content: "-";
    font-weight: 700;
    color:var(--active-color);
    margin-right: 8px;
}  

.underline-active{
    text-decoration: underline;
    text-decoration-color: var(--active-color);
}

.aboutme{
    display: flex;
    justify-content: space-around;
}

.img{
    max-width: 30%;
}

.box-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
}

#myself{
    border-radius: 50%;
    max-width: 250px;
    box-shadow: 0 1px 10px 0 var(--active-color);
}

.history{
    max-width: 70%;
}

.projects{
    display: flex;
    justify-content: space-around;
}

#projects{
    height: 150vh;
}

.card{
    width: 30%;
    border-radius: 8px;
    overflow: hidden;
}

.card-title{
    color: var(--white);
    padding: 2% 2% 1% 2%;
    font-weight: 600;  
    background-color: var(--active-color); 
    display: flex;
    justify-content: space-between;
}

.card-description{
    padding: 2% 2% 1% 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-project{
    align-self: center;
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 8px;
}

.card-footer{    
    padding: 2% 2% 1% 2%;
    display: flex;
    justify-content: flex-end;
}

.link{
    color: var(--active-color80);
    text-decoration: underline;
}
