@import url(linguagens.css);
@import url(projetos.css);

.img-button {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.block {
    padding: 20px;
    margin-block: 10px;
    background-color: var(--second-color);
    border-radius: var(--border-radius);
    border: solid 2px var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.b-me{
    display: flex;
    gap: 10px;
}

.b-me img {
    width: 100px;
    border-radius: var(--border-radius);
}

.b-me .b-texts{
    margin-block: auto;
}

.b-me .b-title {
    color: var(--actv-color);
    font-size: var(--title-size);
    font-weight: 700;
}

.b-tags { 
    background-color: var(--third-color);
    border-radius: var(--border-radius);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background-color: var(--tag-color);
    border-radius: var(--border-radius);
    padding: 5px;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.tag span {
    color: var(--actv-color);
}

.tag div {
    margin-left: 5px;
}

.b-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-img-link {
    display: flex;
    gap: 5px;
    font-size: var(--title-size);
    background-color: var(--tag-color);
    border-radius: var(--border-radius);
    padding-inline: 5px;
    width: 50%;
    justify-content: center;
}

.button-img-link:first-child {
    background-color: var(--actv-color);
    color: var(--black-color);
}

.button-img-link span{
    color: var(--white-color);
}

.button-img-link:first-child span {
    color: var(--black-color);
}


.button-img-link button{
    background-color: transparent;
    border: transparent;
    font-size: var(--subtitle-size);
    color: var(--white-color);
}

.button-img-link:first-child button{
    color: var(--black-color);
}

.b-title {
    display: flex;
    flex-direction: column;
}

.b-title .b-img-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.b-title .b-img-title span {
    color: var(--actv-color);
}

.b-title .b-img-title div {
    font-size: var(--title-size);
    font-weight: 700;
}

.b-title .b-subtitle {
    color: var(--grey-color);
    font-size: 13px;
    font-weight: 600;
}

.b-projects {
    display: flex;
    justify-content: space-between;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slide {
    display: none;
    opacity: 0%;
    width: 400px;
    height: 256px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    transition: opacity 0.5s ease-in-out;
}

.slide button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
}

.active {
    display: block;
}

.b-about {
    gap: 0;
}

.b-languages-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.b-language{
    background-color: var(--third-color);
    width: 310px;
    height: 48px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.b-language .img {
    background-color: var(--tag-color);
    border-radius: var(--border-radius);
    padding: 5px;
}

.b-language .img div{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}

.center {
    text-align: center;
}

.inline-blocks {
    width: 100%;
    display: flex;
    gap: 10px;
}

.inline-blocks .block{
    margin: 0;
    padding: 5px;
    width: 50%;
}

.small-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.big-number {
    color: var(--actv-color);
    font-weight: 800;
    font-size: 45px;
    text-align: center;
}

.bold {
    font-weight: 600;
}

.status {
    display: flex;
    align-items: baseline;
    font-size: 13px;
    gap: 5px;
    color: var(--grey-color);
}

.status a {
    color: var(--grey-color);
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    animation: pulse 1.2s ease-in-out infinite;
}

.color-red {
    background-color: red;
}

.b-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.b-rede-social {
    width: 50%;
}

.b-rede-social button {
    height: 40px;
    display: flex;
    background-color: var(--third-color);
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--white-color);
    border: transparent;

}

.b-rede-social span {
    color: var(--actv-color);
}

.footer {
    display: flex;
    justify-content: center;
}

#load_projects {
    display: flex;
    justify-content: center;
    color: var(--actv-color);
    animation: rotate .8s ease infinite;
}

.open-in-new {
    width: 35px;
    height: 30px;
    background-color: transparent;
    border: transparent;
    color: var(--actv-color);
}

.button-img-link .actv-text {
    color: var(--actv-color);
}

.hover {
    transition: transform .1s ease-in-out;
}

.hover:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}

.icon-animation {   
    animation: rotate 1.3s ease-in-out infinite;
}