#java {
    background-image: url('../imgs/linguagens/java.svg');
}

#git {    
    background-image: url('../imgs/linguagens/git.svg');
}

#angular {
    background-image: url('../imgs/linguagens/angular.svg');
}

#c {
    background-image: url('../imgs/linguagens/c.svg');
}

#springboot {
    background-image: url('../imgs/linguagens/springboot.svg');
}

#jsp {
    background-image: url('../imgs/linguagens/jsp.svg');
}

#dotnet {    
    background-image: url('../imgs/linguagens/dotnet.svg');
}
