#itonomise {
    background-image: url('../imgs/projetos/itonomise.png');
}

#supernaturaldle {    
    background-image: url('../imgs/projetos/supernaturaldle.png');
}

#tasker {    
    background-image: url('../imgs/projetos/tasker.png');
}

#crud-js {    
    background-image: url('../imgs/projetos/crud-js.png');
}

#flex-boxes {    
    background-image: url('../imgs/projetos/flex-boxes.png');
}

#shopping-angular {    
    background-image: url('../imgs/projetos/shopping.png');
}

#lycoris {    
    background-image: url('../imgs/projetos/lycoris.png');
}
